@model Vidly.ViewModels.CustomerFormViewModel


@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>




@* begin form *@

@using (Html.BeginForm("Save", "Customers"))
{

    // use this markup for Bootstrap

    <div class="form-group">

        @* use lambda expression that selects the target property
            from the model used in this form*@
        @Html.LabelFor(m => m.Customer.Name)

        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" }) @*class = "form-control" is optional and gives the form a modern look and feel*@
    </div>



    <div class="form-group">

        @Html.LabelFor(m => m.Customer.Birthdate)
        @Html.TextBoxFor(m => m.Customer.Birthdate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>



    // drop down list implementation
    <div class="form-group">

        @Html.LabelFor(m => m.Customer.MembershipTypeID)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeID, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
    </div>



    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribed to Newsleter?
        </label>
    </div>



    // add a hidden field
    @Html.HiddenFor(m => m.Customer.Id);


    <button type="submit" class="btn btn-primary">Save</button>

}